body
{     
	background-color:#ffffff;
	margin-top:20px;
	font-family: Arial,sans-serif;
	font-size:10pt;
	color:#222222;
	/* internet explorer */
	text-align:center;
}

table, tr, td
{
	margin:0px;
	padding:0px;
	border-spacing:0px;
	font-family: Arial,sans-serif;
	font-size:10pt;
	color:#222222;
	text-align:left;
}

table.container 
{
	width:1000px;
	margin:0px;
	padding:0px;
	border-spacing:0px;
	/* Firefox ad opera ... internet explorer centering achienved through body style*/
	margin-left:auto; 
	margin-right:auto;
}

td.menurow
{
	border-left:0px solid #222222;
	border-right:0px solid #222222;
	border-bottom:1px solid #222222;
	border-top:0px solid #222222;
	padding:0px;
	text-align:left;
}

td.bottomrowLeft
{
	border-left:0px solid #222222;
	border-right:0px solid #222222;
	border-bottom:0px solid #222222;
	border-top:1px solid #222222;
	padding:5px;
	text-align:left;
}

td.bottomrowRight
{
	border-left:0px solid #222222;
	border-right:0px solid #222222;
	border-bottom:0px solid #222222;
	border-top:1px solid #222222;
	padding:2px;
	text-align:right;
}

td.contentright
{
	width:300px;
	border-right:0px solid #222222;
	vertical-align:middle;	
	text-align:left;
}

td.contentleft
{
	width:700px;
	border-right:0px solid #222222;
	border-bottom:0px solid #222222;
	padding:10px;
	vertical-align:top;
	text-align:left;
}

td.formTitles
{
	font-family: Arial,sans-serif;
	font-size:10pt;
	color:#222222;
	text-align:left;
	font-weight:bold;
}

div.banner
{
	background-image: url("images/banner.jpg"); 
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed; 
	vertical-align: top;
	width:1000px;
	height: 180px;
	border:1px solid #222222;
	margin:0px;
	padding:0px;
	border-spacing:0px;
	text-align: center;
}

img 
{
	margin:0px;
	padding:0px;
	border:0px;
}

a 
{
	font-family: Arial,sans-serif;
	font-size:10pt;
	color:#451511;
	text-decoration:none;
}

p.heading
{
	font-family: Arial,sans-serif;
	font-size:14pt;
	color:#991511;
	width:580px;
	margin-left:20px;
	margin-top:20px;
	border-bottom: 1px solid #000000;
	text-align:left;
}

p 
{
	font-family: Arial,sans-serif;
	font-size:10pt;
	margin-left:20px;
	color:#222222;
	text-align:left;
}


div.menu-container
{
	padding:0px 0px 0 0px;
	margin:0px 0px 0px 0px;
	background:#ffffff;
	text-align:left;
}

ul.menu
{
	list-style-type: none;
	width: 100%;
	position: relative;
	height: 25px;
	font-family: Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	padding: 11px 0px 0px 0px;
	text-align:left;
}

ul.menu li
{
	display: block;
	float: left;
	margin: 0px 0px 1px 4px;
	height: 25px;
}

ul.menu li.left
{
	margin:0;
}

ul.menu li a
{
	display: block;
	float: left;
	color: #ffffff;	
	font-family: Arial,sans-serif;
	font-size: 12px;
	background: #A01411;
	line-height: 25px;
	text-decoration: none;
	padding: 0 17px 0 18px;
	height: 25px;
	border-right: 1px solid #222222;
	border-left: 1px solid #222222;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
}

ul.menu li a.right
{
	padding-right:19px;
}

ul.menu li a:hover
{
	color: #000000;
	background: #ffffff;
}

ul.menu li a.current
{
	color: #A01411;
	background: #ffffff;
}

ul.menu li a.current:hover
{
	color: #000000;
	background: #ffffff;
}



.inputstyle {
	border: 1px solid #333333;
	background: #FFFFFF;
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #454743;
	margin:2px;
	padding: 4px 15px 4px 15px;
	width:50%;
}


.inputstyle:hover {
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 3px 14px 3px 14px;
}


.inputstyle:focus {
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 3px 14px 3px 14px;
}


.selectstyle {
	border: 1px solid #333333;
	background: #FFFFFF;
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #454743;
	margin:2px;
	width:50%;
	padding: 2px 2px 2px 15px;
}


.selectstyle:hover {
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 1px 1px 1px 13px;
}


.selectstyle:focus {
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 1px 1px 1px 13px;
}


.textareastyle 
{
	border: 1px solid #333333;
	background: #FFFFFF;
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #454743;
	margin:2px;
	padding: 10px 15px 10px 15px;
	width:80%;
}

.textareastyle:hover
{
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 9px 14px 9px 14px;
}

.textareastyle:focus
{
	border: 2px solid #A01411;
	background: #FFFFFF;
	padding: 9px 14px 9px 14px;
}


.buttonstyle {
	border: 1px solid #333333;
	background: #ede9e9;
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #454743;
	margin:2px;
	padding:4px;
	width:35%;
}

.buttonstyle:hover {
	border: 2px solid #333333;
	background: #ede9e9;
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #A01411;
	margin:1px;
	padding:4px;
	width:35%;
}

.checkboxstyle
{
	border: 1px solid #333333;
	padding: 2px;
	margin:2px;
}

.checkboxstyle:hover
{
	border: 1px solid #A01411;
	padding: 1px;
	margin:2px;
}

.checkboxstyle:focus
{
	border: 1px solid #A01411;
	padding: 1px;
	margin:2px;
}



